.clear { clear: both; }

.fix {
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: calc(-100vh + 100px);
  padding-top: 10vh !important;
  z-index: -1;
  width: 100%;
}
.logo {
  max-width: 400px;
  padding: 0 2rem;
}

.elev {
  margin-left: auto;
  padding: 0 2rem;
  text-align: right;
}

.main {
  /* margin-top: calc(100vh - 100px); */
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: white; */
}

.whiteStripe {
  flex: 0 1;
  display: flex;
  flex-direction: row;
  min-width: 100;
  align-self: stretch;
  min-height: calc(100vh - 100px);
}

.blackStripe {
  background-color: #111;
  color: white;
  flex: 0 1;
  display: flex;
  flex-direction: row;
  min-width: 100;
  align-self: stretch;
  padding: 1rem 2rem;
  min-height: 100px;
}
.blackStripe a {
  color: white;
}

.red {
  color: #f00;
}

.product {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.col {
  min-width: 70px;
  width: 70%;
  position: relative;
}
.product .col {
  /* height: 100%; */
  min-height: 235px;
  min-width: 300px;
}
.backers .col {
  height: 55px;
  margin: 0.5rem;
}
.backers .smimg {
  height: 30px;
}

.product .text {
  max-width: 420px;
  min-width: 30%;
  padding: 1.5rem;
}

.product .col p {
  line-height: 1.5rem;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.person {
  text-align: right;
}

.description {
  font-weight: 400;
  text-align: right;
  line-height: 1.4;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .product, .footer {
    width: 100%;
    flex-direction: column;
  }
  .footer span {
    display: none;
  }
}
